In [23]:
import pandas as pd

# Read the JSON file
data_orders = pd.read_json('orders.json')
data_countries = pd.read_json('countries.json')
data_products = pd.read_json('products.json')
data_customers = pd.read_json('customers.json')
data_sales = pd.read_json('sales.json')

print(data_countries)

# Convert JSON to Excel
data_orders.to_excel('output_orders.xlsx', index=False)
data_countries.to_excel('output_countries.xlsx', index=False)
data_products.to_excel('output_products.xlsx', index=False)
data_customers.to_excel('output_customers.xlsx', index=False)
data_sales.to_excel('output_sales.xlsx', index=False)

    Country Currency                  Name                Region  Population  \
0        AD      EUR               Andorra        WESTERN EUROPE       71201
1        AE      AED  United Arab Emirates             NEAR EAST     2602713
2        AF      AFN           Afghanistan  ASIA (EX. NEAR EAST)    31056997
3        AG      XCD     Antigua & Barbuda   LATIN AMER. & CARIB       69108
4        AI      XCD              Anguilla   LATIN AMER. & CARIB       13477
..      ...      ...                   ...                   ...         ...
219      YE      YER                 Yemen             NEAR EAST    21456188
220      YT      EUR               Mayotte    SUB-SAHARAN AFRICA      201234
221      ZA      ZAR          South Africa    SUB-SAHARAN AFRICA    44187637
222      ZM      ZMW                Zambia    SUB-SAHARAN AFRICA    11502010
223      ZW      ZWL              Zimbabwe    SUB-SAHARAN AFRICA    12236805

     Area (sq. mi.)  Pop. Density (per sq. mi.)  \
0               468                       152.1
1             82880                        31.4
2            647500                        48.0
3               443                       156.0
4               102                       132.1
..              ...                         ...
219          527970                        40.6
220             374                       538.1
221         1219912                        36.2
222          752614                        15.3
223          390580                        31.3

     Coastline (coast per area ratio)  Net migration  \
0                                0.00           6.60
1                                1.59           1.03
2                                0.00          23.06
3                               34.54          -6.15
4                               59.80          10.76
..                                ...            ...
219                              0.36           0.00
220                             49.52           6.78
221                              0.23          -0.29
222                              0.00           0.00
223                              0.00           0.00

     Infant mortality (per 1000 births)  ...  Phones (per 1000)  Arable (%)  \
0                                  4.05  ...              497.2        2.22
1                                 14.51  ...              475.3        0.60
2                                163.07  ...                3.2       12.13
3                                 19.46  ...              549.9       18.18
4                                 21.03  ...              460.0        0.00
..                                  ...  ...                ...         ...
219                               61.50  ...               37.2        2.78
220                               62.40  ...               49.7         NaN
221                               61.81  ...              107.0       12.08
222                               88.29  ...                8.2        7.08
223                               67.69  ...               26.8        8.32

     Crops (%)  Other (%)  Climate  Birthrate  Deathrate  Agriculture  \
0         0.00      97.78      3.0       8.71       6.25          NaN
1         2.25      97.15      1.0      18.96       4.40        0.040
2         0.22      87.65      1.0      46.60      20.34        0.380
3         4.55      77.27      2.0      16.93       5.37        0.038
4         0.00     100.00      2.0      14.17       5.34        0.040
..         ...        ...      ...        ...        ...          ...
219       0.24      96.98      1.0      42.89       8.30        0.135
220        NaN        NaN      2.0      40.95       7.70          NaN
221       0.79      87.13      1.0      18.20      22.00        0.025
222       0.03      92.90      2.0      41.00      19.93        0.220
223       0.34      91.34      2.0      28.01      21.84        0.179

     Industry  Service
0         NaN      NaN
1       0.585    0.375
2       0.240    0.380
3       0.220    0.743
4       0.180    0.780
..        ...      ...
219     0.472    0.393
220       NaN      NaN
221     0.303    0.671
222     0.290    0.489
223     0.243    0.579

[224 rows x 22 columns]